.sidebar {
    width: 17.806vw;
    height: fit-content;
    margin-top: 2.872vw;
    border-top-left-radius: 0.574vw;
    border-bottom-left-radius: 0.574vw;
    box-shadow: 0px 4px 23.1px 0px #00000012;
}

.sec-1 {
    display: flex;
    margin-right: 0.804vw;
    margin-top: 1.091vw;
    gap: 0 0.5vw;
    align-items: center;
    justify-content: end;
}

.sec-1 img {
    width: 1.034vw;
    height: 1.034vw;
}

.sec-1 p {
    font-family: 'DM Sans';
    font-size: 0.574vw;
    font-weight: 500;
    color: #003F52;
    padding: 0.23vw 0.804vw;
    background-color: #EFFBFF;
    border-radius: 1.149vw;
    width: fit-content;
}

.logo {
    width: 11.775vw;
    margin: 0.861vw auto 0;
}

.logo img {
    width: inherit;
    aspect-ratio: 0;
}

.sec-2 {
    display: flex;
    padding: 15px 10px;
    position: relative;
}

.sec-2:hover {
    /* background-color: #024154; */
    background-color: #f3f4f6;
}

.icon-div {
    width: 1.091vw;
    height: 1.091vw;
}
.scroll-box{
    overflow-x: hidden;
    height: 42vh;
}
.scroll-box::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
	border-radius: 10px;
	background-color: transparent;
}

.scroll-box::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.scroll-box::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #5f5a5a;
}
/* .sec-2:hover .icon-div {
    filter: brightness(0) invert(1);
}

.sec-2:hover .data-div p {
    color: white;
}

.sec-2:hover .heading-div h4 {
    color: white;
} */

.heading-div {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.heading-div h4 {
    font-family: 'Nunito';
    font-size: 1.034vw;
    font-weight: 500;
    color: #003F52;
    margin: 0;
}

.dropdown-item {
    padding: 0.23vw 0.804vw;
    background-color: #EFFBFF;
    border-radius: 1.149vw;

}

.dropdown-icon {
    width: 0.517vw;
}

.dropdown-header {
    display: flex;
    align-items: center;
    gap: 0 0.574vw;
    justify-content: flex-end;
}

.options-list {
    margin-top: 0.574vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4vw;
    left: 0;
    padding: 0.5vw;
    /* right: 0.574vw; */
    gap: 5px;
    width: 100%;
    background-color: #F3F4F6;
    z-index: 2;
}
.options-list p{
    font-size: 0.919vw;
    font-weight: 400;
    color: #003F52;
    margin: 0.574vw 0 0 0;
    width: fit-content;
}
.single-option {
    width: fit-content;
    font-size: 0.517vw !important;
    font-weight: 900;
    margin: 0;
    color: #013D4E;

}

.profile-info {
    width: 95%;
    margin: 3.446vw auto 0;
    height: fit-content;
    background-color: #459E97;
    display: flex;
    position: relative;
    border-radius: 0.574vw;
    gap: 0 0.75vw;
    /* border: 3px solid rgba(5, 89, 114, 0.19); */
}

.profile-img {
    /* position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -2.5vw; */
    width: 4.8vw;
    height: 5vw;
    border-top-left-radius: 0.574vw;
    border-bottom-left-radius: 0.574vw;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 0 10px;
    margin-top: 0.35vw;
    /* padding-bottom: 0.75vw; */
}
.phone{
    color: white;
    transform: rotate(90deg);
}
.email{
    color: white;
}
/* .about-profile {
    padding-top: 2.872vw;
    padding-bottom: 1.493vw;
} */

.about-profile h4 {
    width: fit-content;
    margin:0.75vw 0 0;
    font-size: 0.919vw;
    font-weight: 700;
    color: white;
    /* padding-bottom: 0.75vw; */
}

.about-profile h5 {
    width: fit-content;
    margin: 0;
    font-size: 0.804vw;
    text-align: center;
    font-weight: 500;
    color: white;
}

.about-profile h6 {
    width: fit-content;
    margin: 0.75vw auto;
    font-size: 0.747vw;
    text-align: center;
    font-weight: 500;
    padding: 0.574vw 1.149vw;
    border-radius: 1.149vw;
    color: white;
    background: rgba(255, 255, 255, 0.14);
}

.google-review {
    width: 85%;
    margin: 0.75vw auto 0;
}

.google-review img {
    width: 100%;
    height: fit-content;
}

.google-review p {
    font-size: 0.632vw;
    font-weight: 400;
    color: #003F52;
    margin: 0.574vw auto 0;
    width: fit-content;
}

.data-div {
    margin-left: 0.574vw;
    width: 100%;
}

.descp {
    font-size: 0.632vw;
    font-weight: 400;
    color: #003F52;
    margin: 10px 0 0;
}

@media (max-width: 1024px) {
    .section-1 {
        display: block;
    }

    .sidebar {
        margin: auto;
        width: 50%;
        background-color: yellow;
    }
}

/* @media (max-width: 480px) {
    h1 {
        color: red;
    }
} */